.container {
    display: flex;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    gap: 2vh;
    padding: 1%;
    // width: 30vw;
    height: 30vh;
    border: 3px solid #42426d;
    border-radius: 10px;
    img {
        width: 7vw;
        height: 7vh;
    }
}

.flex {
    display: flex;
    height: 5vh;
    border-bottom: 1px solid #0c1b5e;
    h3 {
        height: 4vh;
    }
    .title {
        width: 30vw;
    }
}

.flex-end {
    margin: 0 0 0 75%;
}

.icons {
    height: 4vh;
    width: 5vw;
    color: #2568FB;
}
.t_bg {
    display: flex;
    justify-content: flex-end;
    background: none;
    border: none;
    border-radius: 7px;
    color: #290c6d;
}

@media only screen and (max-width: 600px) {
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
        padding: 3%;
        width: 45vw;
        height: 35vh;
        border: 5x solid #0c1b5e;
        img {
            width: 20vw;
            height: 7vh;
        }
    }
  }

  