nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vw;
  width: 100vw;
  height: 15vh;
  background-color: #d67b8f;
  color: #ebebee;
  font-size: larger;
  border-bottom: 2px solid;
}

@media only screen and (max-width: 600px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vw;
    width: 100vw;
    height: 15vh;
  }
}
