nav {
  display: flex;
  align-items: center;
  padding: 0 4vw 0 4vw;
  gap: 35vw;
  height: 15vh;
  background-color: #db6d85;
  color: #ebebee;
  font-size: larger;
  border-bottom: 2px solid;

  .nav-right {
    display: flex;
    gap: 2vw;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vw;
    width: 100vw;
    height: 15vh;
  }
}
