* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #c9576f;
  padding: 2%;
}

@media only screen and (max-width: 600px) {
  .container {
    background-color: #c9576f;
    padding: 1.5%;
  }
}
